/* Stylesheet */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Making sure everything is in the middle of the screen */
/* Set the canvas to absolute so I can move the divs relative to the position of the canvas. This way I can place the dropzone divs in specific coordinates relative to the canvas. */
.container {
   height: 20%;
   margin-top: 4rem;
   
}

.canvas {
    position: absolute;
    width: 100%;
    height: 80%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Simple message styling. Display none will be removed using JS after all of the dots are dragged in place. */
.message {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
}


/* Canvas dots have z-index 3 so they'll show up above the dropzone divs. Isn't entirely necessary, but just in case. */
.dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Some canvas dot styling */
#drop-one, #drop-two, #drop-three, #drop-four, #drop-five {
    
    z-index: 3;
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#drop-one{
    background-image: url('./img/ia-logo-dot-blue.png')
}

#drop-two{
    background-image: url('./img/ia-logo-dot-red.png')
}

#drop-three{
    background-image: url('./img/ia-logo-dot-green.png')
}

#drop-four,#drop-five{
    background-image: url('./img/ia-logo-dot-black.png')
}


.canvas__dropzone-dragover {
    opacity: 0.5;
}

/* set it to absolute so everything works ^^ */
.canvas__logo {
    position: absolute;
    z-index: 0;
}


/* General dropzone styling border will be dashed once hovered above */
.canvas__dropzone {
    width: 90px;
    height: 90px;
    background: transparent;
    z-index: 1;
    border-radius: 50%;
}


/* Individual dropzone positioning */
/* When revealing winning message make sure to subtract 20px at the top  */
.drop-one {
    position: relative;
    left: 12px;
    top: 101px;
}

.drop-two {
    position: relative;
    left: -140px;
    top: 107px;
}

.drop-three {
    position: relative;
    left: -76px;
    top: 113px;
}

.drop-four {
    position: relative;
    left: 108px;
    top: -9px;
}

.drop-five {
    position: relative;
    left: 133px;
    top: -243px;
}


/* Simple button styling */
button {
    background-color: #168afa; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all .3s ease;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
    width: 10%;
    align-self: center;
    margin-top: 5rem;
}

button:hover {
    color: #168afa;
    background-color: white;
    border: 1px solid #168afa;
}

